@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    /* color: #292929; */
    background-color: #e5ded8;
}
main {
    color: #292929;
    padding-bottom: 30px;
}
main div.container {
    margin-bottom: 40px;
    padding-bottom: 40px;
}
p {
    font-size: 20px;
}
.main-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.main-card {
    margin: 0 50px 0 50px;
}
h3 {
    font-weight: normal;
}
span.footer {
    font-weight: bold;
}
form {
    margin: 0 auto; 
    float: right;
}
.container {
    max-width: 1200px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}
.card-container {
    max-width: 575px;
    margin: 0 0 50px 0;
    background-color: white;
    box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.75);
}
.border {
    border: 1px solid red;
}
.search {
    height: 33px;
    padding: 6px;
    margin-top: 8px;
    margin-left: auto;
    font-size: 15px;
    width: 200px;
    border-radius: 15px;
    border: none;
}
.search-button {
    float: right;
    margin-top: 8px;
    cursor: pointer;
    height: 33px;
    width: 33px;
    border: none;
    background-color: #347deb;
}
input.search {
    padding-left: 10px;
}
input:focus {
   outline: none;
}
input:focus::placeholder {
    color: transparent;
}
a {
    text-decoration: none;
    color: #347deb;
}
a:visited {
    color: #347deb;
}
a:hover {
    font-weight: bold;
}
.socials {
    margin-top: 40px;
}
.social {
    padding: 0 10px 0 10px;
}
.search-img {
    filter: invert(100%) sepia(2%) saturate(10%) hue-rotate(46deg) brightness(103%) contrast(100%);
}
#top {
    min-height: 100px;
}
#footer-text {
    margin-bottom: 40px;
}
.carousel {
    margin-bottom: 50px;
}
#gallery-header {
    font-weight: bold;
    font-size: 40px;
}
#caoursel-div {
    height: 850px;
}
footer {
    height: 250px;
    background-color: #3a3d42;
}
header {
    background-color: #347deb;
}
.read-more {
    float: right;
}
header div div h1 {
    font-weight: bolder;
}
.item1 {
    height: 700px;
    width: 100%;
    background-image:url(header.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.item2 {
    height: 700px;
    width: 100%;
    background-image:url(13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.item3 {
    height: 700px;
    width: 100%;
    background-image:url(12.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.item4 {
    height: 700px;
    width: 100%;
    background-image:url(15.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.gallery-img {
    width: 383.3px;
    height: 260px;
    margin: 0 0 25px 0;
    background-color: white;
    box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.75);
}
.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.white-bg {
    background-color: white;
}
.box-shadow {
    box-shadow: 0px 0px 50px -20px rgba(0,0,0,0.75);
}
footer div.content {
    align-items: initial;
    align-content: initial;
}
.home-demo .item {
    background: #ff3f4d;
}
.home-demo h2 {
    padding: 5rem 0;
    margin: 0;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #347deb;
}
ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}
ul.topnav li a:hover:not(.active), div.read-more:hover {
    text-decoration: underline;
    text-underline-offset: 12px;
}
ul.topnav li a.active {
    text-decoration: underline;
    text-underline-offset: 12px;
}
ul.topnav li.right {float: right;}

.header-nav {
    width: 100%;
    background-color: #347deb;
    position: sticky;
    top: 0;
    z-index: 100;
}

@media screen and (max-width: 1440px) {
    .item1, .item2, .item3 {
        height: 700px;
    }
}

@media screen and (max-width: 1024px) {
    main div.container {
        margin: 0 20px 30px 20px;
    }
    footer {
        padding: 0 20px 20px 20px;
    }
    #logo {
        margin-left: 10px;
    }
    #form-div {
        margin-right: 10px;
    } 
    .item1, .item2, .item3 {
        height: 500px;
    }
}

@media screen and (max-width: 768px) {
    #carousel-div {
        height: 500px;
    }
    main div.container {
        margin: 0 20px 30px 20px;
    }
    footer {
        padding: 0 20px 20px 20px;
    }
    .item1, .item2, .item3 {
        height: 500px;
    }
}

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}


@media screen and (max-width: 425px) {
    #carousel-div {
        height: 250px;
    }
    main div.container {
        margin: 0 10px 20px 10px;
    }
    footer {
        height: fit-content;
        padding: 0 0 20px 10px;
    }
    input.search {
        margin-left: 105px;
        margin-bottom: 10px;
    }
    #logo {
        margin: 0 auto 0 auto;;
    }
    #header-header {
        margin: 0 auto 0 auto;
        padding-left: 50px;
    }
    #address {
        margin-right: 20px;
    }
    .item1, .item2, .item3 {
        height: 230px;
    }

}

@media screen and (max-width: 375px) {
    .carousel {
        height: 250px;
    }
    main div.container {
        margin: 0 10px 20px 10px;
    }
    footer {
        height: fit-content;
        padding: 0 0 20px 10px;
    }
    input.search {
        margin-left: 70px;
        margin-bottom: 10px;
    }
    #logo {
        margin: 0 auto 0 auto;;
    }
    #header-header {
        margin: 0 auto 0 auto;
    }
    #address {
        margin-right: 0px;
    }
    .item1, .item2, .item3 {
        height: 230px;
    }

}

@media screen and (max-width: 360px) {
    .carousel {
        height: 250px;
    }
    main div.container {
        margin: 0 10px 10px 10px;
    }
    footer {
        height: fit-content;
        padding: 0 0 20px 10px;
    }
    input.search {
        margin-left: 70px;
        margin-bottom: 10px;
    }
    #logo {
        margin: 0 auto 0 auto;;
    }
    #header-header {
        margin: 0 auto 0 auto;
    }
    .carousel {
        margin-bottom: 0;
    }
    .item1, .item2, .item3 {
        height: 200px;
    }
    header {
        position: initial;
    }

}




